/**
 * Gutenberg contact card Front end styles.
 */
.wp-block-cg-blocks-contact-card-block {
	text-align: center;
}

.cg-title {
	font-size: 1rem;
	margin: 0.5rem;
}

.cg-title::before {
	background: none;
}

.cg-subtitle {
	color: #9e9e9e;
	font-size: 0.75rem;
	margin: 0.5rem;
}

.cg-contact-card-image {
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
}

.cg-description {
	margin-bottom: 1rem;
}

.cg-description p {
	font-size: 1rem;
	color: #424242;
	margin: 0;
}

.cg-twitter-link-container .twitter-link,
.cg-facebook-link-container .facebook-link,
.cg-email-address-container .email-address {
	display: inline-block;
	margin: 0 1rem;
}
